# Variables de entorno y claves API
.env
.env.local

# Base de datos vectorial local
chroma_db/

# Archivos de caché de Python y entornos virtuales
__pycache__/
*.pyc
*.pyo
venv/
.venv/

# Archivos del sistema operativo
.DS_Store
Thumbs.db


.vscode/